.body1{
    background-image: url(./home-banner@2x.jpg);
    background-size: 100%;
    height: 300px;
    color: white;
}
.body1>h1{
    font-size: 50px;
    text-align: center;
}
.body1>p{
    text-align: center;
    font-size: 18px;
}
.body1>img{
    width: 150px;
    margin: 5px;
}
.button1{
    float: right;
    width: 60px;
    height: 23px;
    margin: 10px;
    background-color: transparent;
    color: white;
}
.button2{
    width: 120px;
    height: 33px;
    font-size: 13px;
    color: blue;
}
.body2>img{
    margin: 50px;
}
.body2>h2{
    font-size: 30px;
    text-indent: 60px;
}
.body2>p{
    font-size: 20px;
    text-indent: 60px;
}
.body2>button{
    height: 30px;
    width: 100%;
    font-size: 15px;
}
.body3>img{
    margin: 50px;
}
.body3>h2{
    font-size: 30px;
    text-indent: 60px;
}
.body3>p{
    font-size: 20px;
    text-indent: 60px;
}
.body3>button{
    height: 30px;
    width: 100%;
    font-size: 15px;
}

.body4 h3{
    font-size: 25px;
    text-indent: 60px;
}
.body4-1{
    float:left;
    width: 150px;
}
.body4-2{
    float: right;
    width: 1450px;
}
.body4-1 p{
    font-size: 20px;
    text-indent: 60px;
}
.body4-2 p{
    font-size: 15px;
    text-indent: 0;
}
.body4-1 img{
    width: 100px;
    height: 100px;
}
.body4-2 span,a{
    font-size: 15px;
    vertical-align: bottom;
}
footer {
    clear:both;
    background-color: #f2f2f2;
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
    color: #494747;
    border-top: 1px solid #e5e5e5;
  }

